<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
        <add id="Overdose::top_level"
             module="Overdose_Testimonials"
             resource="Magento_Backend::content"
             title="Overdose"
             sortOrder="150"/>
        <add action="overdose_testimonials/testimonials"
             id="Overdose_Testimonials::overdose_testimonials"
             module="Overdose_Testimonials"
             parent="Overdose::top_level"
             resource="Magento_Backend::content"
             title="Testimonials"/>
    </menu>

</config>
